<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="stylesheets/customStyle.css">

<body>


  <div class="kotak">
    <h1>Login</h1>
    <hr>
    <div class="form-input">
      <form class="my-form" method="post" action="/login/" role="form">
        <script type="text/javascript">
          if (true) {

          }
        </script>
        <input type="email" name="name" placeholder="Login" class="user">
        <input type="password" placeholder="Password" class="email">
    </div>
    <div class="form-button">
      <input type="submit" class="button" />
      </form>
    </div>
  </div>

  <!-- footer -->
  <footer class="bg-footer">
    <div>
      &copy; CopyRight 2020 - XI RPL 1
    </div>
  </footer>
  <!-- EndFooter -->
</body>

</html>