<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/customStyle.css">
  <link rel="icon" href="https://s.gravatar.com/avatar/91134f90a3841723b8edc5881e5b555b?size=100&default=retro">
</head>